.container{
    margin: auto;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 1px 2px 7px 1px white;
  
   
}

.head{
   
    height: 740px;
    opacity: 0.8;
  }


  @media all and (min-width:800px) {

    .container{
        width: 50%;
    }
    .btn{
      
    }
    
}

.txt{
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 25%;
}

.btn{
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  background-color: green;
}

  .media {
    height: 140,
  }