.container{
    margin: auto;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 1px 2px 7px 1px white;
  
   
}


.head{
   
    height: 680px;
    opacity: 0.8;
  }


  @media all and (min-width:800px) {

    .container{
        width: 50%;
    }
    
}

  .media {
    height: 140,
  }